@font-face {
  font-family: 'outrun';
  src: local('outrunfuture'), url(../fonts/s.otf);
}
@font-face {
  font-family: 'outrun';
  src: url(../fonts/b.otf);
  font-weight: bold;
}
@font-face {
  font-family: 'outrun';
  src: url(../fonts/bi.otf);
  font-weight: bold;
  font-style: italic;
}
